<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adviewer.gc.ads">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/adwatcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.adviewer.gc.ads.IronsourceActivity"
            android:label="@string/title_activity_ironsource">
        </activity>
        <activity
            android:name="com.adviewer.gc.ads.UnityadsActivity"
            android:label="@string/title_activity_unityads">
        </activity>
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.adviewer.gc.ads.VungleActivity"
            android:label="@string/title_activity_vungle"></activity> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6760835969070814~5912740615" />
        <!-- test: "ca-app-pub-3940256099942544~3347511713"  real: "ca-app-pub-6760835969070814~5912740615"  -->

        <activity
            android:name="com.adviewer.gc.ads.AdmobActivity"
            android:label="@string/title_activity_admob">
        </activity>
        <activity android:name="com.adviewer.gc.ads.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>